In [9]:
# Exploratory data analysis of dataset

import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import glob

In [23]:
# os.getcwd() # working directory
# absolute path of data directory
PATH = os.path.join(os.path.abspath(os.getcwd()), 'data')

# WESAD dataset
interim_data = os.path.join(PATH, '0. interim')
wesad_data = os.path.join(interim_data, 'wesad')
wesad_eda_data = os.path.join(wesad_data, 'eda')
print(wesad_eda_data)

D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda

In [25]:
df = pd.read_csv(wesad_eda_data+'\\S2.txt', index_col=None, header=0)
df.head()

   5.250549316406250000e+00
0                  5.267334
1                  5.243301
2                  5.249405
3                  5.286407
4                  5.251694

In [29]:
# import all files into a datafram
wesad_files = glob.glob(os.path.join(wesad_eda_data, "*.txt"))

# Loop over the list of txt files
li = []
for f in wesad_files:
    
    # read the txt file
    df = pd.read_csv(f, index_col=None, header=0)
    li.append(df)
    # print the location and filename
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])

wesad_df = pd.concat(li, axis=1, ignore_index=True)
wesad_df.head()

Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S10.txt
File Name: S10.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S11.txt
File Name: S11.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S13.txt
File Name: S13.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S14.txt
File Name: S14.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S15.txt
File Name: S15.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S16.txt
File Name: S16.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S17.txt
File Name: S17.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S2.txt
File Name: S2.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S3.txt
File Name: S3.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S4.txt
File Name: S4.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S5.txt
File Name: S5.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S6.txt
File Name: S6.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S7.txt
File Name: S7.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S8.txt
File Name: S8.txt
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\wesad\eda\S9.txt
File Name: S9.txt

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.714493,6.603241,2.367783,2.727127,1.357651,0.946426,5.408859,5.267334,7.982254,1.094437,3.913116,9.861374,12.468719,4.372025,1.978683
1,0.715637,6.605530,2.358627,2.740097,1.345444,0.980377,5.401611,5.243301,7.983398,1.094055,3.873062,9.861755,12.506866,4.381943,1.960754
2,0.714874,6.611252,2.349091,2.739334,1.353073,0.954437,5.407715,5.249405,7.981873,1.094818,3.883362,9.859848,12.506485,4.365921,1.955032
3,0.715256,6.609726,2.359009,2.729034,1.344299,0.947571,5.410385,5.286407,7.978821,1.092911,3.886795,9.859848,12.504959,4.366684,1.965714
4,0.713730,6.611633,2.358246,2.754211,1.345444,0.971603,5.417252,5.251694,7.978821,1.093674,3.873825,9.860229,12.507629,4.365921,1.979446

In [35]:
# count the number records
len(wesad_df.axes[0]) * len(wesad_df.axes[1])

74245485

In [32]:
# SWELL dataset
interim_data = os.path.join(PATH, '0. interim')
swell_data = os.path.join(interim_data, 'swell')
swell_eda_data = os.path.join(swell_data, 'eda')
print(swell_eda_data)

# import all files into a datafram
swell_files = glob.glob(os.path.join(swell_eda_data, "*.csv"))

# Loop over the list of txt files
li = []
for f in swell_files:
    
    # read the txt file
    df = pd.read_csv(f, index_col=None, header=0)
    li.append(df)
    # print the location and filename
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])

swell_df = pd.concat(li, axis=1, ignore_index=True)
swell_df.head()

D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p1.csv
File Name: p1.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p10.csv
File Name: p10.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p11.csv
File Name: p11.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p12.csv
File Name: p12.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p13.csv
File Name: p13.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p14.csv
File Name: p14.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p15.csv
File Name: p15.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p16.csv
File Name: p16.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p17.csv
File Name: p17.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p18.csv
File Name: p18.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p19.csv
File Name: p19.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p2.csv
File Name: p2.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p20.csv
File Name: p20.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p21.csv
File Name: p21.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p22.csv
File Name: p22.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p24.csv
File Name: p24.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p25.csv
File Name: p25.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p3.csv
File Name: p3.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p4.csv
File Name: p4.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p5.csv
File Name: p5.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p6.csv
File Name: p6.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p7.csv
File Name: p7.csv
Location: D:\Documents\Github\flatiron-data-science\phase05\depression\data\0. interim\swell\eda\p9.csv
File Name: p9.csv

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,9.918,15.487,11.154,25.087,21.362,18.577,38.915,6.7754,31.486,62.178,...,42.621,33.185,45.711,11.526,26.584,9.3815,11.654,12.318,22.308,193.2
1,9.918,15.487,11.154,25.087,21.362,18.577,38.915,6.7754,31.486,62.178,...,42.621,33.185,45.711,11.526,26.584,9.3815,11.654,12.318,22.308,193.2
2,9.918,15.487,11.154,25.087,21.362,18.577,38.915,6.7754,31.486,62.178,...,42.621,33.185,45.711,11.526,26.584,9.3815,11.654,12.318,22.308,193.2
3,9.918,15.487,11.154,25.087,21.362,18.577,38.915,6.7754,31.486,62.178,...,42.621,33.185,45.711,11.526,26.584,9.3815,11.654,12.318,22.308,193.2
4,9.918,15.487,11.154,25.087,21.362,18.577,38.915,6.7754,31.486,62.178,...,42.621,33.185,45.711,11.526,26.584,9.3815,11.654,12.318,22.308,193.2

In [34]:
# number of records in the SWELL dataset
len(swell_df.axes[0]) * len(swell_df.axes[1])

425671465