In [3]:
# EDA Exploration of data
#
# 
import pandas as pd
import os # accessing directory structure

In [4]:

# absolute path of data directory
PATH = os.path.join(os.path.abspath(os.getcwd()), 'data')
pickle_dir = os.path.join(PATH, 'pickle')

# Open Pickled Data and save into pandas dataframe
eda_swell_df = pd.read_pickle(f'{pickle_dir}\\eda_well_df.pkl')
eda_wesad_df = pd.read_pickle(f'{pickle_dir}\\eda_wesad_df.pkl')
hrv_swell_df = pd.read_pickle(f'{pickle_dir}\\hrv_well_df.pkl')
hrv_wesad_df = pd.read_pickle(f'{pickle_dir}\\hrv_wesad_df.pkl')

In [21]:
# y-value is 'condition'
# Keep file_name, subject_id, and columns 1-6
cols = [0, 1, 2, 3, 4, 5, 6, 15, 46]
eda_wesad_df[eda_wesad_df.columns[cols]]

,Time,MEAN,MAX,MIN,RANGE,KURT,SKEW,subject id,condition
0,2.500000,0.757563,0.896835,0.453186,0.443649,3.754964,1.019250,10,baseline
1,2.516667,0.757652,0.896835,0.453186,0.443649,3.749167,1.019035,10,baseline
2,2.533333,0.757744,0.896835,0.453186,0.443649,3.738666,1.017227,10,baseline
3,2.550000,0.757831,0.896835,0.453186,0.443649,3.725497,1.015659,10,baseline
4,2.566667,0.757920,0.896835,0.453186,0.443649,3.722804,1.014227,10,baseline
...,...,...,...,...,...,...,...,...,...
3075,85.333333,3.525337,3.627777,3.295898,0.331879,-0.054889,0.071390,9,meditation
3076,85.350000,3.525188,3.627777,3.295898,0.331879,-0.068758,0.075895,9,meditation
3077,85.366667,3.525033,3.627777,3.295898,0.331879,-0.080970,0.081329,9,meditation
3078,85.383333,3.524869,3.627777,3.295898,0.331879,-0.091816,0.076900,9,meditation
3079,85.400000,3.524716,3.627777,3.295898,0.331879,-0.105581,0.067817,9,meditation

In [17]:
eda_wesad_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45677 entries, 0 to 3079
Data columns (total 49 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Time                      45677 non-null  float64
 1   MEAN                      45677 non-null  float64
 2   MAX                       45677 non-null  float64
 3   MIN                       45677 non-null  float64
 4   RANGE                     45677 non-null  float64
 5   KURT                      45677 non-null  float64
 6   SKEW                      45677 non-null  float64
 7   MEAN_1ST_GRAD             45677 non-null  float64
 8   STD_1ST_GRAD              45677 non-null  float64
 9   MEAN_2ND_GRAD             45677 non-null  float64
 10  STD_2ND_GRAD              45677 non-null  float64
 11  ALSC                      45677 non-null  float64
 12  INSC                      45677 non-null  float64
 13  APSC                      45677 non-null  float64
 14  RMSC                      45677 non-null  float64
 15  subject id                45677 non-null  int64
 16  MEAN_LOG                  45677 non-null  float64
 17  INSC_LOG                  45677 non-null  float64
 18  APSC_LOG                  45677 non-null  float64
 19  RMSC_LOG                  45677 non-null  float64
 20  RANGE_LOG                 45677 non-null  float64
 21  ALSC_LOG                  45677 non-null  float64
 22  MIN_LOG                   45677 non-null  float64
 23  MEAN_1ST_GRAD_LOG         45677 non-null  float64
 24  MEAN_2ND_GRAD_LOG         45677 non-null  float64
 25  MIN_LOG_LOG               45677 non-null  float64
 26  MEAN_1ST_GRAD_LOG_LOG     45677 non-null  float64
 27  MEAN_2ND_GRAD_LOG_LOG     45677 non-null  float64
 28  APSC_LOG_LOG              45677 non-null  float64
 29  ALSC_LOG_LOG              45677 non-null  float64
 30  APSC_BOXCOX               45677 non-null  float64
 31  RMSC_BOXCOX               45677 non-null  float64
 32  RANGE_BOXCOX              45677 non-null  float64
 33  MEAN_YEO_JONSON           45677 non-null  float64
 34  SKEW_YEO_JONSON           45677 non-null  float64
 35  KURT_YEO_JONSON           45677 non-null  float64
 36  APSC_YEO_JONSON           45677 non-null  float64
 37  MIN_YEO_JONSON            45677 non-null  float64
 38  MAX_YEO_JONSON            45677 non-null  float64
 39  MEAN_1ST_GRAD_YEO_JONSON  45677 non-null  float64
 40  RMSC_YEO_JONSON           45677 non-null  float64
 41  STD_1ST_GRAD_YEO_JONSON   45677 non-null  float64
 42  RANGE_SQRT                45677 non-null  float64
 43  RMSC_SQUARED              45677 non-null  float64
 44  MEAN_2ND_GRAD_CUBE        45677 non-null  float64
 45  INSC_APSC                 45677 non-null  float64
 46  condition                 45677 non-null  object
 47  SSSQ                      45677 non-null  int64
 48  file_name                 45677 non-null  object
dtypes: float64(45), int64(2), object(2)
memory usage: 18.4+ MB